.container-main {
    background-color: #f4f4f4;
}

.container-graphs-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: 10px 20px 0;
}

.container-graph-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-values{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-values-circle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}