@font-face {
	font-family: Gotham-Black;
	src: url('/font/Gotham-Medium.otf')
}

@font-face {
	font-family: Gotham-Book;
	src: url('/font/Gotham-Book.otf')
}

@font-face {
	font-family: Gotham;
	src: url('/font/Gotham-Book.otf');
	font-weight: 400;
}

@font-face {
	font-family: Gotham;
	src: url('/font/Gotham-Medium.otf');
	font-weight: 600;
}

@font-face {
	font-family: Gotham;
	src: url('/font/Gotham-Bold.otf');
	font-weight: 700;
}

body {
    font-family: Gotham !important;
}

h2, h6 {
	color: rgb(0, 56, 75);
	font-weight: bold !important;
}

h5 {
	color: rgb(0, 56, 75);
}

.btn-close {
	color: rgb(0, 56, 75);
}

select {
	font-weight: bold !important;
	color: #3f3f3f !important;
}

th {
	color: #adadad !important;
}

td, small {
	color: rgb(60, 76, 82) !important;
}

.bg {
    background-color: #f4f4f4;
}